
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  margin:0;
  padding:0:
}

body{
  background-color: black;
}

.main {
    background-image: url("bg1.png");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box{
  height: 644vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}

nav{
   max-width: 85vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}

nav img{
  width: 180px;
  position: relative;
  z-index: 10;
}

nav button{
  position: relative;
  z-index: 10;
}

.hero{
  height:calc(100% - 62px);
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  color:white;
  position: relative;
  font-family: 'Martel Sans', sans-serif;
  gap:2px;
  padding: 0  23px;
  text-align:center;
}

.hero> :first-child{
  font-weight:1000;
  font-size: 48px;
  text-align:center;
}

.hero> :nth-child(2){
  font-weight:800;
  font-size: 20px;
  text-align:center;
}

.hero> :nth-child(3){
  font-weight:400;
  font-size: 15px;
  text-align:center;
}

.sepration{
  height: 7px;
  background-color: #444444c3;
  position: relative;
}
.btn{
  padding:3px 8px;
  font-weight:400;
  background-color: #33323226;
  color:white;
  border:1px solid #bab1b18e;
  border-radius:-4px;
  cursor:pointer;
}

.btn-red{
  color:white;
  padding:7px 8px 8px 7px;
  font-size:20px;
  font-weight:600;
  border-radius:3px;
  background-color:red;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
  color: white;
  font-size: 20px;  
  border-radius: 3px;
  background-color: #1717178a;
  padding: 7px 27px 8px 7px;
  border: 1px solid #f6eeee80;
}

.btn-red-sn{
  color:white;
  background-color:red;
}

.first {
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}



.secImg {
  position: relative;
  margin-top: 10px;
}

.secImg img {
  position: relative;
  z-index: 10;
  width: 555px;
}

.secImg video {
  top: 87px;
  right: 78px;
  width: 406px;
  position: absolute;
}

section.first > div{
  display:flex;
  flex-direction:column;
}

 .first > div :nth-child(1){
  font-weight: bolder;
  font-family: sans-serif;
  text-align: unset;
  font-size: 25px;
}

.first > div :nth-child(2){
  font-size:15px;
  font-family:sans-serif;
}

.faq h2{
 text-align:center;
 font-size:40px;
}

.faq{
  background:black;
  color:white;
  position: relative;
  font-family:sans-serif;
  padding:34px;
}

.faqbox:hover {
    background-color: #b7a9a9d5;
    color: white;
}

.faqbox{
  display:flex;
  background-color: #4a4949d5;
  padding:25px;
  max-width:40vw;
  margin:10px auto;
 position: relative;
 justify-content:space-between;
 cursor: pointer;
 font-size:24px;
 transition:all 1s ease-out;
}

footer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  color:#fff;
  max-width:60vw;
  margin:auto;
  font-family:sans-serif;
}

.footer-item{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
