* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: absolute;
  width: 100%;
}

.logo {
  width: 150px;
}

.sign-in {
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  height: 12%;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("bg1.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  margin: 10px;
}

.content h2 {
  font-size: 1.5rem;
  margin: 20px;
}

.content p {
  font-size: 1rem;
  margin: 20px;
}

.email {
  display: flex;
  justify-content: center;
}

.email input {
  padding: 20px;
  width: 300px;
  border: none;
  outline: none;
  background-color: #464242b9;
  color: white;
}

.email button {
  background: red;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

.movies {
  padding: 40px;
}

.movies h2 {
  margin: 20px 0;
}

.movie-row {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie {
  min-width: 180px;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie img {
  width: 100%;
  border-radius: 5px;
}

.movie:hover {
  transform: scale(1.1);
}
